.bingo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &__field {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 790px;
    height: 790px;

    border: 1px solid black;
    box-shadow: 0 2px 25px rgba(15, 10, 222, 0.5);
  }

  &__text {
    margin: 1rem;
    font-size: 1.2rem;
  }

  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      z-index: -2;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: blue;
      transition: all .3s;
      z-index: -1;
    }

    &--active {
      background-color: blue;
      color: white;

      &:before {
        width: 100%;
      }
    }
  }

  &__win-wrapper {
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
  }

  &__win {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    min-height: 240px;
    width: 25vh;
    height: 25vh;

    background-color: white;
    border-radius: 40px;
    border: none;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

    &:before,
    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 140%;
      height: 100%;
      left: -20%;
      z-index: -1;
      transition: all ease-in-out 0.5s;
      background-repeat: no-repeat;
    }

    &:before {
      top: -75%;
      background-image: radial-gradient(circle, gold 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, gold 20%, transparent 30%),
      radial-gradient(circle, gold 20%, transparent 20%),
      radial-gradient(circle, gold 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, gold 15%, transparent 20%),
      radial-gradient(circle, gold 20%, transparent 20%),
      radial-gradient(circle, gold 20%, transparent 20%),
      radial-gradient(circle, gold 20%, transparent 20%),
      radial-gradient(circle, gold 20%, transparent 20%);
      background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
      animation: topBubbles ease-in-out 1s forwards;

    }

    &:after {
      bottom: -75%;
      background-image: radial-gradient(circle, gold 20%, transparent 20%),
      radial-gradient(circle, gold 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, gold 15%, transparent 20%),
      radial-gradient(circle, gold 20%, transparent 20%),
      radial-gradient(circle, gold 20%, transparent 20%),
      radial-gradient(circle, gold 20%, transparent 20%),
      radial-gradient(circle, gold 20%, transparent 20%);
      background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
      animation: bottomBubbles ease-in-out 1s forwards;
    }
  }

  &__congrat-text {
    position: relative;
    margin: 0 1rem;
    overflow: hidden;

    font-size: 3rem;
    font-weight: bold;
    color: blue;
    text-transform: uppercase;

    &:before {
      content: '';
      position: absolute;
      filter: blur(10px);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      mix-blend-mode: screen;
      background-image: repeating-linear-gradient(-45deg, transparent, transparent 1em, #BFE2FF 1em, #337AB7 50%),
      repeating-linear-gradient(45deg, #337AB7, #337AB7 1em, #FFF 1em, #BFE2FF 50%);
      background-size: 3em 3em, 2em 2em;
      animation-name: win;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
}

@keyframes win {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}